.profilesummary h5{
    color:#f38907;
    font-size:22px;
    margin-left: 0px;
    margin-bottom: 0px;

}


.profilesummary img{
    width: 210px;height:315px;margin-bottom: 5px;
    border-radius: 0% !important;
}

.profilesummary{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(0,0,0,.6);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:20px;
    border-radius: 10px;
}

.profilesummary p{
    margin-bottom: 5px;
}

#ck-button {
    border-radius:100px;
	border:1px solid #f38907;
	background-color:rgba(252, 176, 64, 0.3);
	border-color:#f38907;
	color:#f38907;
	width:130px;
	height:25px;
	transition: all .5s ease-in-out;
    font-weight:bolder;
    outline : none;
    cursor:pointer;
}

#ck-button:hover {
    border-radius:100px !important;
	background-color:#f38907;
	color:rgba(0,0,0,0.8);
	transition: all .5s ease-in-out;
	cursor:pointer;
}

#ck-button label span {
    text-align:center;
    cursor:pointer;
}
#ck-button input:checked + span{
    background-color:#f38907;
	color:rgba(0,0,0,0.8);
}

#ck-button input:checked +span{
    border-radius:100px !important;
	background-color:#f38907;
	color:rgba(0,0,0,0.8);
	transition: all .5s ease-in-out;
	cursor:pointer;
}

#ck-button label input {
    display:none;
}
